@media (max-width: 600px) {
    .cart-item { grid-template-columns: 1fr auto; gap: 10px; }
    .cart-qty-controls { grid-row: 2; margin: 0; }
    .cart-item-price { grid-row: 2; }
}

@media (max-width: 600px) {
    .header-content {
        flex-direction: column; 
        align-items: flex-start; 
    }
    .header-buttons {
        width: 100%; 
        justify-content: space-between; 
    }
}

@media (max-width: 500px) {
    
    .history-table thead, .modal-table thead {
        display: none;
    }

    .history-table tbody tr, .modal-table tbody tr {
        display: block;
        margin-bottom: 0;
        background-color: transparent; 
        border: none;
        border-bottom: 1px solid #eee;
        box-shadow: none;
        border-radius: 0;
    }

    .history-table tbody tr:last-child {
        border-bottom: none;
    }

    .history-table td, .modal-table td {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: right;
        padding: 12px 10px;
        border-bottom: 1px solid #f9f9f9;
    }

    .history-table td:last-child {
        border-bottom: none;
    }

    .history-table td::before, .modal-table td::before {
        content: attr(data-title);
        font-weight: 700;
        color: #555;
        text-align: left;
    }

    .history-table tbody tr.no-data {
        border-bottom: none; 
    }
    .history-table tbody tr.no-data td {
        display: block;
        text-align: center;
        padding: 20px 0;
    }
    .history-table tbody tr.no-data td::before {
        content: none;
    }
    .modal-table tbody tr{
        border: 4px solid #eee;
        border-radius: 5px;
    }

    .modal-table tbody tr{
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .search-bar-container { 
        flex-direction: column; 
        border: none; 
        background: transparent; 
        gap: 10px; 
    }
    .search-select, .search-input, .active-toggle-wrapper, .search-btn {
        width: 100%; 
        border-radius: 8px;
        border: 1px solid #ddd;
    }
    .active-toggle-wrapper {
    display: flex; 
    justify-content: center; 
    gap: 8px; 
    padding: 0 15px;
    background-color: white; 
    border-left: 1px solid #e5e7eb; 
    height: 32px;
    }

}